*{margin: 0;padding: 0;}
#anlysisbox{width: 100%;height: 1000px;background: lightblue;}
#anlysisleft{width: 20%;height: 1000px;background: #708090;float: left;}
#anlysisright{width: 80%;height: 1000px;float: left;}
#anlysisrighttop{width: 1300px;height: 800px;background: lightblue;padding-left: 50px;}
.anlysistop{width: 100%;height: 80px;}
/*表单*/.anlysistopform{line-height: 100px;float: left;}
.textones{width: 180px;height: 30px;margin-right: 100px;/*border: none;*/padding: 0;padding-left: 10px;}
.theme{width: 180px;height: 30px;margin-right: 100px;padding-left: 10px;}
.anlysistime{width: 180px;height: 30px;padding-left: 10px;}
.anlysisovertime{width: 180px;height: 30px;margin-right: 135px;padding-left: 10px;}
.btnones{width: 150px;height: 30px;}
/*表格视图和网络视图*/.querytable{width: 1300px;height: 60px;line-height: 60px;}
.querywenzi{display: block;float: left;}
.querynetwork{float: right;}
.btnnetwork{margin-right: 80px;width: 150px;height: 30px;}
.btnnetform{margin-right: 80px;width: 150px;height: 30px;}
.querylist{width: 1300px;height: 500px;border: 1px solid black;margin-top:50px;display: block;/*默认显示*/}
.querypic{width: 1300px;height: 500px;border: 1px solid red;float: left;margin-top:50px;display: none;/*默认隐藏*//*position: relative;*/}
.listtable{border: 0.5px;width: 1300px;height: 501px;padding: 0;text-align: center;/*position: absolute;top: 0;left: 0;*/}
.listtable form{width:100px;}
.btnthones{width:250px;height: 42px;}
.btntwos,.btnthirds,.btnfours,.btnfifths,.btnsixs,.btnsevens{width:100px;margin-left:88px;}
/*左边内容*/.leftlist{width: 380px;height: 600px;margin-top: 20px;}
.leftlistul{width: 380px;height: 600px;font-size: 24px;color: white;}
.leftlistul li{width: 380px;height: 100px;line-height: 100px;text-align: center;margin-bottom:20px ;}
.content_buttom{width: 1300px;height: 150px;}
.footer_button{height: 100px; width: 200px; float: left; margin: 28px;}
.footer_button a{display:inline-block;font-size: 24px;background: black;}
.choseone{width: 100px;}