include ../partial/header
link(rel='stylesheet', href='/stylesheets/common/common.css')
link(rel='stylesheet', href='/stylesheets/part/csg_home.css')

include ../partial/commonhead
div.home_content.clearfix
    include ../partial/user_left
    div.home_right hello 大家好，我是个人中心详情页面
        h2!= username
        h2!= password



include ../partial/commonfoot
include ../partial/footer


