extends ../partial/home_left
block append right
    .indexcontain
        .common_top
            .jxy_home_trendbox
                .jxy_home_timebox
                    span.topoverview
                        | 实时数据概览
                    .real_time_data#increasingData
                #jxy_home_trendechs.jxy_home_echartsbox
            .indexrightpic
                #satisfied
            .botminformation
                .datalist
                    table#instence.listtable(cellspacing='0', border='1px')
                        tbody
                            tr
                                th.choseone
                                    | 姓名
                                th.btnthones
                                    | 性别
                                th.btnthones
                                    | 年龄
                                th.btnthones
                                    | 职业
                                th.btnthones
                                    | 行业
                            tr
                                form
                                td
                                td#t1
                                td#t2
                                td#t3
                                td
                            tr
                                td
                                td
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                                td
                                td
        .indexconbotm
            .botmecharts
                .echarst_title
                    p 数据分析
                .centerchartsthree
                    #centsex
                .leftechartsone
                    #stack
                .rightechartstwo
                    #scatter

            .bottom_title
                p © 2010-2017 www.csg.com
