include ../partial/header
include ../partial/footer
include ../partial/commonhead
link(rel='stylesheet',href='/stylesheets/crawlers/csg_addTask.css')
link(rel='stylesheet',href='/stylesheets/crawlers/csg_instenceList.css')
.common_content
    .common_content_center
        .left
            .lestbox
                ul.leftul
                    li
                        span.span1
                        a.a1(href='/crawlers/rendering/taskList') 任务执行
                    li
                        span.span2
                        a.a2(href='/crawlers/rendering/addTask') 创建任务
                    //li
                    //    span.span3
                    //    a.a3(href='#') 33333
        block right



