include ../partial/header
include ../partial/footer
include ../partial/commonhead
.common_content
    .common_content_center
        .left
            .lestbox
                ul.leftul
                    li
                        span.span1
                        a.a1(href='/dataAnalysis/rendering/dataAnalysis') 数据查询
                    li
                        span.span2
                        a.a2(href='/dataAnalysis/rendering/functionAnalysis') 函数分析
                    li
                        span.span3
                        a.a3(href='/dataAnalysis/rendering/importData') 导入数据

        block right









