script(type="text/javascript", charset="utf-8", src="/javascript/lib/jquery/jquery.min.js")
script(type="text/javascript", charset="utf-8", src="/javascript/lib/jquery/jquery.validate.min.js")
script(type="text/javascript", charset="utf-8", src="/javascript/common/src/jquery.validate.extend.js")
script(type="text/javascript", charset="utf-8", src="/javascript/lib/bootstrap/bootstrap.min.js")
script(type="text/javascript", charset="utf-8", src="/javascript/common/src/jquery.pager.js")
script(type="text/javascript", charset="utf-8", src="/javascript/lib/jquery/jquery.page.js")
script(type="text/javascript", charset="utf-8", src="/javascript/lib/layer/build/layer.js")
link(rel='stylesheet', href='/javascript/common/src/layui/css/layui.css')
script(type="text/javascript", charset="utf-8", src="/javascript/common/src/layui/layui.js")
script(type="text/javascript", charset="utf-8", src="/javascript/common/src/jquery.cookie.js")
script(type="text/javascript", charset="utf-8", src="/javascript/lib/echarts/dist/echarts.js")
script(type="text/javascript", charset="utf-8", src="/javascript/lib/underscore/underscore.js")
script(type="text/javascript", charset="utf-8", src="/javascript/common/base/app.js")
script(type="text/javascript", charset="utf-8", src="/javascript/common/base/tool.js")