doctype html
|<!--[if lt IE 7 ]><html class="ie ie6"><![endif]-->
|<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
|<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
|<!--[if IE 9 ]><html class="ie9"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->

head
    title CSG调研系统
    meta(charset="utf-8", http-equiv="Content-Type", content="text/html")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=.2, maximum-scale=1.0, user-scalable=yes")
    meta(name="keywords", content="CSG调研系统")
    meta(name="description", itemprop="description", content="")
    meta(itemprop="name", content="")
    meta(itemprop="image", content="")
    meta(name="format-detection", content="email=no")
    meta(name="format-detection", content="address=no")
    meta(name="format-detection", content="telephone=no")
    meta(name="copyright", content="Copyright (c) cmcm.com")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    meta(name="renderer", content="webkit")
    meta(name="author" content="1036730771@qq.com")
    meta(charset="utf-8", http-equiv="Content-Type", content="text/html")
    link(rel='stylesheet', href='/stylesheets/common/commons.css')
    link(rel='stylesheet', href='/stylesheets/common/Pager.css')

