div.home_left 这里是左侧菜单选择部分
    ul.home_ul_part2
        li
            a(href="" target="_self") 案例1
        li
            a(href="" target="_self") 案例2
        li
            a(href="" target="_self") 案例3
        li
            a(href="" target="_self") 案例4
        li
            a(href="" target="_self") 案例5

